<app-navbar></app-navbar>
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card" *ngFor="let g of groups">            
            
            <ul class="list-group list-group-light">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <i class="fas fa-users" style="margin-left: 20px;"></i>
                  <div class="ms-3">
                    <a class="fw-bold mb-1" [routerLink]="['/mainPageGroup/', g.id]" >{{ g.name }}</a>
                    <p class="text-muted mb-0">Description: {{g.description}}</p>
                    <p class="text-muted mb-0" id="date">Creation date: {{g.creationDate | date: 'yyyy-MM-dd HH:mm' }}</p>
                    <p style="color: rgba(214, 56, 56, 0.657);">Is suspended: {{g.isSuspended}}</p>
                    <p style="color: rgba(214, 56, 56, 0.657);">Suspended reason: {{g.suspendedReason}}</p>
                  </div>
                </div>
                
                <button *ngIf="!g.isSuspended" class="btn btn-link btn-rounded btn-sm"><a style="color: rgba(255, 0, 0, 0.721);" class="nav-link" [routerLink]="['/suspendGroup/', g.id]">Suspend group</a></button>
                <button class="btn btn-link btn-rounded btn-sm" (click)="showAdmin()">Group admin</button>
              </li>
            </ul>

            <div *ngIf="show" style="border: gray 1px solid; margin-bottom: 15px;">
              <h5 style="color: rgba(168, 96, 83, 0.752); text-align: center; margin-top: 10px;">Admin:</h5>
              <ul class="list-group list-group-light">
                  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let a of g.groupAdmins">
                    <div class="d-flex align-items-center">
              
                      <img *ngIf="a.user.profileImage === undefined" [src]="getImageUrl('avatar.jpg')" alt="" style="width: 45px; height: 45px;margin-left: 15px;" class="rounded-circle" />
                      <img *ngIf="a.user.profileImage !== undefined" [src]="getImageUrl(a.user.profileImage)" alt="" style="width: 45px; height: 45px;margin-left: 15px;" class="rounded-circle" />

                      <div class="ms-3">
                        <p class="fw-bold mb-1">{{ a.user.firstName + ' ' + a.user.lastName }}</p>
                        <p class="text-muted mb-0">username: {{a.user.username}}</p>
                      </div>
                    </div>
                    <button class="btn btn-link btn-rounded btn-sm" (click)="remove(g.id, a.id)"  style="color: red;">Remove</button>
                  </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
</section>
