<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!-- Container wrapper -->
    <div class="container">

        <!-- Toggle button -->
        <button class="navbar-toggler text-white" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/main">Home</a>
                </li>
            </ul>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <div class="container-fluid">
                        <form [formGroup]="findUserForm" (ngSubmit)="onSubmit()" class="d-flex input-group w-auto">
                          <input
                            type="search"
                            class="form-control rounded"
                            placeholder="Find friend"
                            aria-label="Search"
                            aria-describedby="search-addon"
                            formControlName="input"
                            required
                          />
                          <span class="input-group-text border-0" id="search-addon">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>                                       
                          </span>
                        </form>
                      </div>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row">
                <!-- Icons -->
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" [routerLink]="['/post/addWithPdf']">
                        <i class="fas fa-photo-film"></i>
                        Add post with pdf
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" [routerLink]="['/posts/add']">
                        <i class="fas fa-photo-film"></i>
                        Add post
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link"  [routerLink]="['/friendRequests']">
                        <i class="fas fa-people-arrows"></i>
                        Friend request
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" [routerLink]="['/group']">
                        <i class="fas fa-user-group"></i>
                        Group
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0" *ngIf="loggedUser.role === 'ADMIN'">
                    <a class="nav-link" [routerLink]="['/report']">
                        <i class="fas fa-flag"></i>
                        Report
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0" *ngIf="loggedUser.role === 'ADMIN'">
                    <a class="nav-link" [routerLink]="['/banned']">
                        <i class="fas fa-user-slash"></i>
                        Banned
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0" *ngIf="loggedUser.role === 'ADMIN'">
                    <a class="nav-link" [routerLink]="['/groupAdmin']">
                        <i class="fas fa-users-gear"></i>
                        All group and group admin
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" [routerLink]="['/profile/', username]">
                        <i class="fas fa-user text-white"></i>
                        Profile
                    </a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" [routerLink]="['/user/logout']">
                        <i class="fas fa-right-from-bracket"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
