<app-navbar></app-navbar>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdeys">
  <div class="row">
    <div class="col-xs-12 col-sm-9">

      <form class="form-horizontal" [formGroup] ="editGroup"  (ngSubmit)="submit()">
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Edit group</h4>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="name" [(ngModel)]="group.name"  name="name">
              </div>
              <label class="control-label">Description</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="description" [(ngModel)]="group.description"  name="description">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Edit group</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

