<app-navbar></app-navbar>
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                
                <img *ngFor="let imageName of user.profileImage " [src]="getImageUrl(imageName)"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1;height: 150px;" >

                <img *ngIf="user.profileImage === undefined" [src]="getImageUrl('avatar.jpg')"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1;height: 150px;" >

                <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                  style="z-index: 1;" (click)="addProfileImage()">
                  Add or edit profile image
                </button>
                <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                  style="z-index: 1;" (click)="editProfile()">
                  Edit profile
                </button>
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h5>{{ user.firstName + ' ' + user.lastName }}</h5>
                <p>username: {{user.username}}</p>
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-1">
                <div class="px-3">
                  <p class="mb-1 h5">{{user.friendsWith.length || 0}}</p>
                  <p class="small text-muted mb-0">Followers</p>               
                </div>
              </div>
            </div>
            <div class="card-body p-4 text-black">
              <div class="mb-5">
                <p class="lead fw-normal mb-1">About</p>
                <div class="p-4" style="background-color: #f8f9fa;">
                  <p *ngIf="user.displayName">display name: {{user.displayName}}</p>
                  <br>
                  <p class="font-italic mb-1">{{user.description}}</p>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">My posts</p>           
              </div>        
              <div class="row g-2" *ngFor="let p of userPosts" style="border-bottom: gray 0.5px solid;">

                <div class="btn-group-vertical" role="group" aria-label="Vertical button group" style="margin-left: 89%; width: 10%;">      
                  <div class="btn-group" role="group">
                    <button
                      id="btnGroupVerticalDrop4"
                      type="button"
                      class="btn btn-link dropdown-toggle"
                      data-mdb-toggle="dropdown"
                      aria-expanded="false"
                    >               
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop4">
                      <li><button class="dropdown-item" (click)="editPost(p.id)">Edit post</button></li>
                      <li><button class="dropdown-item" (click)="deletePost(p.id)">Delete post</button></li>
                    </ul>
                  </div>
                </div>
                <br>
                <br>

                <p style="margin-top: 25px;">{{p.content}}</p>
                
                  <div *ngFor="let imageName of p.images">
                    <img [src]="getImageUrl(imageName)" class="d-block w-100" alt="Image">
                  </div>
                
                <ul class="navbar-nav d-flex flex-row">                
                  <li class="nav-item me-3 me-lg-0">
                    <button class="nav-link" (click)="showReaction()">
                      <a class="nav-link">
                        <i class="fab fa-gratipay"></i>
                        Reactions
                      </a>  
                    </button>
                  </li>
                  <li style="margin-left: 15px;" class="nav-item me-3 me-lg-0">
                      <button class="nav-link" (click)="showComment()">
                        <a class="nav-link">
                          <i class="fas fa-comments"></i>
                            Comments
                        </a>
                      </button>
                  </li>              
                </ul>         
                
                <div *ngIf="showReactions" style="background-color: #d6e6ffdb;">
                  <h5>All reactions</h5>
                  <div *ngFor="let r of p.reactions" style="border: 1px solid;">
                      <p>username: {{r.madeBy.username}}</p>
                      <p>{{r.type}}</p>
                  </div>
                </div>
                <div *ngIf="showComments" style="background-color: #fffac1;">
                  <h5>All comments</h5>
                  <div *ngFor="let c of p.comments" style="border: 1px solid;">
                      <p>username: {{c.belongsTo.username}}</p>
                      <p>{{c.text}}</p>
                      <p>{{c.timestamp | date: 'yyyy-MM-dd' }}</p>
                  </div>
                </div>

                <p style="font-size: 10px; margin-top: 35px;">{{ p.creationDate | date: 'yyyy-MM-dd HH:mm' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
