<app-navbar></app-navbar>
<section class="h-100 gradient-custom-2">
  <h4>Search result:</h4>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">

            <ul class="list-group list-group-light">
              <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let u of searchUsers">
                <div class="d-flex align-items-center">

                  <img *ngIf="u.profileImage === undefined" [src]="getImageUrl('avatar.jpg')" alt="" style="width: 45px; height: 45px;margin-left: 15px;" class="rounded-circle" />
                  <img *ngIf="u.profileImage !== undefined" [src]="getImageUrl(u.profileImage)" alt="" style="width: 45px; height: 45px;margin-left: 15px;" class="rounded-circle" />

                  <div class="ms-3">
                    <p class="fw-bold mb-1">{{ u.firstName + ' ' + u.lastName }}</p>
                    <p class="text-muted mb-0">username: {{u.username}}</p>
                  </div>
                </div>
                <ng-container *ngIf="!isFriend(u) && !isAlreadySend(u);">
                  <button class="btn btn-link btn-rounded btn-sm" (click)="addFriend(u.id)">Add friend</button>
                </ng-container>
                <ng-container *ngIf="!isFriend(u) && isAlreadySend(u);">
                  <p class="btn btn-link btn-rounded btn-sm" style="color: orange;">Already sent</p>
                </ng-container>
                <ng-container *ngIf="isFriend(u);">
                  <p class="btn btn-link btn-rounded btn-sm" style="color: seagreen;">Friend</p>
                </ng-container>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>
