<app-navbar></app-navbar>
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <input id="unos" type="search" class="form-control rounded" placeholder="Find post" aria-label="Search" aria-describedby="search-addon" />
      <div class="input-group">
          <button type="button" class="btn btn-info" (click)="findPostByTitle()">search by title</button>
          <button type="button" class="btn btn-info" (click)="findPostByContent()">search by content</button>
          <button type="button" class="btn btn-info" (click)="findPostByPdfContent()">search by pdf content</button>
      </div>
  </div>
</div>
<section class="h-100 gradient-custom-2" *ngIf="search">
  <h4>Search result:</h4>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">            
          <ul class="list-group list-group-light" style="border: 1px solid gray;">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let p of searchPost">
              <div class="d-flex align-items-center">
                <i class="fas fa-photo-film" style="margin-left: 20px;"></i>
                <div class="ms-3">
                  <p class="fw-bold mb-1">Title: {{ p.title }}</p>
                  <p class="fw-bold mb-1">Content: {{ p.content }}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card"> 
            <div class="card-body p-4 text-black">
                
              <div class="btn-group-vertical" role="group" aria-label="Vertical button group" style="margin-left: 89%;">      
                <div class="btn-group" role="group">
                  <button
                    id="btnGroupVerticalDrop4"
                    type="button"
                    class="btn btn-link dropdown-toggle"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
                  >
                  Filter
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop4">
                    <li><button class="dropdown-item" (click)="orderAsc()">Order ascending</button></li>
                    <li><button class="dropdown-item" (click)="orderDesc()">Order descending</button></li>
                  </ul>
                </div>
              </div>
              <br>
              <br>

              <div class="row g-2" *ngFor="let p of allPosts; let postIndex = index" style="border-bottom: rgb(150, 150, 150) 1px solid;">
                <div class="container py-5 h-100">
                    <div>
                      <div>
                        <div class="card">            
                          
                          <ul class="list-group list-group-light">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              <div class="d-flex align-items-center">
                                <img *ngIf="p.postedBy.profileImage === undefined" [src]="getImageUrl('avatar.jpg')" alt="" style="width: 45px; height: 45px;margin-left: 15px;" class="rounded-circle" />
                                <img *ngIf="p.postedBy.profileImage !== undefined" [src]="getImageUrl(p.postedBy.profileImage)" alt="" style="width: 45px; height: 45px;margin-left: 15px;" class="rounded-circle" />
                                <div class="ms-3">
                                  <p class="fw-bold mb-1">{{ p.postedBy.firstName + ' ' + p.postedBy.lastName }}</p>
                                  <p class="text-muted mb-0" *ngIf="p.postedBy.displayName">name: {{p.postedBy.displayName}}</p>
                                  <p class="text-muted mb-0"*ngIf="!p.postedBy.displayName">username: {{p.postedBy.username}}</p>
                                  <a class="fw-bold mb-1" *ngIf="p.group" [routerLink]="['/mainPageGroup/', p.group.id]" >Group: {{p.group.name}}</a>
                                </div>                  
                              </div>                          
                            </li>
                          </ul>               

                        </div>
                        
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group" style="margin-left: 92%;">      
                          <div class="btn-group" role="group">
                            <button
                              id="btnGroupVerticalDrop4"
                              type="button"
                              class="btn btn-link dropdown-toggle"
                              data-mdb-toggle="dropdown"
                              aria-expanded="false"
                            >
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop4">
                              <li><a class="dropdown-item" [routerLink]="['/addReportForPost/', p.id]">Report post</a></li>
                              <li><a class="dropdown-item" [routerLink]="['/addReportForUser/', p.postedBy.id]">Report user</a></li>
                            </ul>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                </div>
                <p style="margin-top: 25px;">{{p.content}}</p>
               

                
                <!------<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner"> 
                    
                    <div *ngFor="let imageName of p.images; let i = index" [ngClass]="{'carousel-item': true, 'active': i === 0}">
                      <img [src]="getImageUrl(imageName)" class="d-block w-100" alt="Image">
                    </div>
                    
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                  </button>
              </div>------>
                
              <div *ngFor="let imageName of p.images">
                <img [src]="getImageUrl(imageName)" class="d-block w-100" alt="Image">
              </div>
                               

                <ul class="navbar-nav d-flex flex-row">                
                  <li class="nav-item me-3 me-lg-0">
                    <button class="btn btn-link btn-rounded btn-sm" style="color: blue;" (click)="heart(p.id, postIndex)" *ngIf="(!p.isHearted && !p.isLiked && !p.isDisliked) || (p.isHearted && !p.isLiked && !p.isDisliked)">
                      <a class="nav-link">
                        <i class="far fa-heart" *ngIf="!p.isHearted && !p.isLiked && !p.isDisliked"></i>
                        <i class="fas fa-heart" *ngIf="p.isHearted"></i>
                        Heart
                      </a>
                    </button> 
                    <button class="btn btn-link btn-rounded btn-sm" (click)="deleteReaction(p.id)" *ngIf="p.isHearted">
                      <a class="nav-link">
                        Unheart
                      </a>
                    </button>                 
                  </li>
                  <li style="margin-left: 15px;" class="nav-item me-3 me-lg-0">
                    <button class="btn btn-link btn-rounded btn-sm" style="color: green;" (click)="like(p.id, postIndex)" *ngIf="(!p.isLiked && !p.isDisliked && !p.isHearted) || (!p.isHearted && p.isLiked && !p.isDisliked)">
                      <a class="nav-link">
                        <i class="far fa-thumbs-up" *ngIf="!p.isLiked && !p.isDisliked && !p.isHearted"></i>
                        <i class="fas fa-thumbs-up" *ngIf="p.isLiked"></i>
                          Like
                      </a>
                    </button>
                    <button class="btn btn-link btn-rounded btn-sm" (click)="deleteReaction(p.id)" *ngIf="p.isLiked">
                      <a class="nav-link">
                        Unlike
                      </a>                   
                    </button>   
                  </li>  
                  <li style="margin-left: 15px;" class="nav-item me-3 me-lg-0">
                    <button class="btn btn-link btn-rounded btn-sm" style="color: red;" (click)="dislike(p.id, postIndex)" *ngIf="(!p.isDisliked && !p.isHearted && !p.isLiked) || (!p.isHearted && !p.isLiked && p.isDisliked)">
                      <a class="nav-link">
                        <i class="far fa-thumbs-down" *ngIf="!p.isDisliked && !p.isHearted && !p.isLiked"></i>
                        <i class="fas fa-thumbs-down" *ngIf="p.isDisliked"></i>
                          Dislike
                      </a>
                    </button>
                    <button class="btn btn-link btn-rounded btn-sm" (click)="deleteReaction(p.id)" *ngIf="p.isDisliked">
                      <a class="nav-link">
                       Undislike 
                      </a>                 
                    </button>   
                  </li> 
                  <li style="margin-left: 15px;" class="nav-item me-3 me-lg-0">
                    <button class="btn btn-link btn-rounded btn-sm" style="color: rgb(133, 133, 133);" (click)="comments(p.id)">
                      <a class="nav-link">
                        <i class="fas fa-comment-dots"></i>
                          Comments
                      </a>
                    </button>
                  </li>                    
                </ul>            
                <p style="font-size: 10px; margin-top: 35px;">{{ p.creationDate | date: 'yyyy-MM-dd HH:mm' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
