<app-navbar></app-navbar>

<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card"> 
            <div class="card-body p-4 text-black">
                

              <div class="row g-2" *ngFor="let p of allPosts" style="border-bottom: rgb(150, 150, 150) 1px solid;">
                <div class="container py-5 h-100">
                    <div>
                      <div>
                        <div class="card">            
                          
                          <ul class="list-group list-group-light">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px;margin-left: 15px;" class="rounded-circle" />
                                <div class="ms-3">
                                  <p class="fw-bold mb-1">{{ p.postedBy.firstName + ' ' + p.postedBy.lastName }}</p>
                                  <p class="text-muted mb-0">username: {{p.postedBy.username}}</p>
                                </div>
                              </div>                          
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div>
                <p style="margin-top: 25px;">{{p.content}}</p>
                <div class="col mb-2">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                    alt="image 1" class="w-100 rounded-3">
                </div>
                <ul class="navbar-nav d-flex flex-row">                
                  <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" [routerLink]="['/']">
                      <i class="fab fa-gratipay"></i>
                      Reactions
                    </a>
                  </li>
                  <li style="margin-left: 15px;" class="nav-item me-3 me-lg-0">
                      <a class="nav-link" href="#">
                        <i class="fas fa-comments"></i>
                          Comments
                      </a>
                  </li>              
                </ul>            
                <p style="font-size: 10px; margin-top: 35px;">{{ p.creationDate | date: 'yyyy-MM-dd HH:mm' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
